<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="X-UA-Compatible" content="ie=edge")
		title SECLAR Seguridad Electrónica
		meta(name="keywords" content="Video Vigilancia Full HD, Monitoreo de Imágenes por Internet, Sistemas de Intrusión, Control de Accesos, Seguridad Perimetral, Detección de Incendio, Porteros Video Visor HD")
		meta(name="description" content="SECLAR SEGURIDAD ELECTRÓNICA Una empresa con más de 20 años de experiencia en el mercado Argentino.")
		// Favicon
		link(rel="icon" href="./img/favicon.png" type="image/png")
		// Vendor Css
		link(rel="stylesheet", href="./css/bootstrap.css")
		link(rel="stylesheet", href="./vendor/owl-carousel/owl.carousel.min.css")
		link(rel="stylesheet", href="./vendor/owl-carousel/owl.theme.default.min.css")
		link(rel="stylesheet", href="./vendor/font-awesome/css/all.css")
		link(rel="stylesheet", href="./vendor/magnific-popup/magnific-popup.css")
		link(rel="stylesheet", href="./vendor/animate/animate.css")
		// Theme Css
		link(rel="stylesheet" href="./css/styles.css")
	body
		// Page navigation
		include navigation
		// Content
		block content
		// Go to top link
		#go-to-top
			i.fas.fa-sort-up
		// Scripts and html closing
		include foot
		
